
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 98%);
}

header {
  background-color: #008f94;
  color:white;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav {
  background-color: #076568;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

.ofer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.item {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: center;
  padding: 15px;
}

.item img {
  max-width: 100%;
  border-radius: 8px;
}

.item h3 {
  margin: 10px 0;
}

.whatsapp-btn {
  display: block;
  width: 200px;
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  background-color: #0cc999;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
}

footer {
  background-color: #242b2a;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}
