body {
  font-family: Arial, sans-serif;
  background-color: #161616;
  text-align: center;
  height: 100vh;
}

header {
  background-color: #760094;
  color:rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

nav {
  background-color: #111111;
  padding: 10px;
  text-align: center;
}

nav a {
  color: rgb(0, 0, 0);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: rgb(0, 247, 255);                /* Color al pasar el cursor */
}

nav a:active {
  color: rgb(0, 247, 255);               /* Color al hacer clic */
}

nav a:visited {
  color: rgb(0, 247, 255);             /* Color si el enlace ya fue visitado */
}

main {
  padding: 20px;
}

.ofer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.item {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.item img {
  max-width: 100%;   /* La imagen nunca será más grande que su contenedor */
  height: auto;      /* Mantiene la proporción original */
  display: block;    /* Elimina espacios extra alrededor */
  margin: 0 auto;    /* Centra la imagen dentro del contenedor */
}


.item button {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.item button:hover {
  background-color: #0056b3;
}


.whatsapp-btn {
  display: block;
  width: 200px;
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  background-color: #0cc999;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
}

footer {
  background-color: #242b2a;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
}